@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #fbfbf3;
}

header {
    background-color: #7800ba;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    font-family: 'Playfair Display', serif;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    overflow-x: auto;
}

.tab-link {
    background-color: #555;
    color: white;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-link:hover {
    background-color: #777;
}

.tab-link.active {
    background-color: #7800ba;
}

.tab-content {
    display: none;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.tab-content.active {
    display: block;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: justify;
}

.card ul li {
    margin-bottom: 10px;
}

.card h2 {
    margin-top: 0;
}

.safety {
    background-color: #ffdddd;
    border-left: 5px solid #f44336;
}

.positive {
    background-color: #ddffdd;
    border-left: 5px solid #7800ba;
}
